@import '../../styles/variables';
.this__day{
	padding: 20px 40px;
	width: 100%;
	max-width: none;
	background: var(#{--components-bg-default});
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	@media (min-width: 768px){
		padding: 20px;
		max-width: 400px;
	}
}
.this__day .top__block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	@media (min-width: 768px){
		margin-bottom: 30px;
	}
	svg{
		width: 60px;
		height: 60px;
		@media (min-width: 568px){
			width: 80px;
			height: 80px;
		}
		@media (min-width: 768px){
			width: 120px;
			height: 120px;
		}
	}
	.temp{
		font-size: 54px;
		color: $color-accent;
		font-weight: 600;
		@media (min-width: 568px){
			font-size: 72px
		}
		@media (min-width: 768px){
			font-size: 96px
		}
	}
	.day{
		font-size: 28px;
		color: $color-light;
		@media (min-width: 568px){
			font-size: 40px;
		}
	}
}
.this__day .bottom__block{
	.time,
	.city{
		color: $color-base;
		font-size: 20px;
		line-height: 25px;
		@media (min-width: 568px){
			font-size: 25px;
			line-height: 35px;
		}
	}
}
