.home{
	width: 100%;
	padding-top: 6rem;
	@media (min-width: 768){
		padding-top: 7rem;
	}
	@media (min-width: 1199px){
		padding-top: 7.5rem;
	}
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        row-gap: 1.5rem;
        justify-content: space-between;
        @media (min-width: 768px){
            flex-wrap: nowrap;
        }
    }
}
