.home{
	width: 100%;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        row-gap: 1.5rem;
        justify-content: space-between;
        @media (min-width: 768px){
            flex-wrap: nowrap;
        }
    }
}
