.header{
    font-size: 20px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.header .logo{
    width: 65px;
    height: 65px;
}
.header .wrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.header .title{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
